.search_container {
  padding: 10px;
  .search_div {
    position: relative;
    fa-icon {
      position: absolute;
      right: 5px;
    }
    input {
      width: 250px;
      padding: 5px 25px 5px 5px;
      height: 20px;
      border-radius: 16px;
      border: 1px solid black;
    }
  }
}
