<header>
  <mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      role="navigation"
      [mode]="'over'"
    >
      <mat-nav-list>
        <side-nav-menu> </side-nav-menu>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
        <div
          class="logo_part"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="20px"
        >
          <fa-icon
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async"
            icon="bars"
          ></fa-icon>

          <div class="logo_div" fxLayout="column" fxLayoutAlign="center center">
            <img src=" assets/img/logo/main_logo.svg" />
          </div>
        </div>

        <div
          class="links_part"
          fxLayout="row"
          fxLayoutAlign="end center"
          fxFlex="50"
          fxLayoutGap="20px"
          *ngIf="!(isHandset$ | async)"
        >
          <span class="login_part" (click)="openLoginModal()">
            {{ "HEADER.LOGIN" | translate }}</span
          >

          <div
            class="language_part"
            [matMenuTriggerFor]="LanguageMenu"
            (menuClosed)="isMenuOpend = false"
            (menuOpened)="isMenuOpend = true"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <img
              [src]="'assets/img/flags/' + (languageFromUrl$ | async) + '.png'"
              alt="flag"
              title="Image Title"
            />

            {{ languageFromUrl$ | async }}

            <fa-icon icon="angle-down" *ngIf="!isMenuOpend"></fa-icon>
            <fa-icon icon="angle-up" *ngIf="isMenuOpend"></fa-icon>

            <mat-menu #LanguageMenu="matMenu">
              <div
                class="language_list_div"
                [ngClass]="{ selected_language: lang.selected }"
                *ngFor="let lang of languageList"
              >
                <span
                  [title]="lang.name"
                  (click)="changeLanguage(lang.name)"
                  fxLayout="row"
                  fxLayoutAlign="start center "
                >
                  <img
                    [src]="'assets/img/flags/' + lang.flag + '.png'"
                    alt="flag"
                    [title]="lang.name"
                  />
                  <span class=" lang_text">{{ lang.name }}</span>
                </span>
              </div>
            </mat-menu>
          </div>

          <div class="shop_card">
            <fa-icon icon="heart"></fa-icon>
          </div>
          <div class="shop_card" matBadge="8" matBadgePosition="after">
            <fa-icon icon="shopping-bag"></fa-icon>
          </div>

          <div class="shop_card">
            <fa-icon icon="question-circle"></fa-icon>
          </div>
        </div>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</header>
