@import "../../../variable";

header {
  .sidenav-container {
    height: 100%;
  }

  .sidenav {
    width: 200px;
  }

  ::ng-deep .mat-drawer-transition .mat-drawer-backdrop {
    position: fixed;
  }

  mat-toolbar {
    color: white;

    @include header_gradient;

    .logo_part {
      font-size: 16px;
      .logo {
        margin-left: 70px;
        font-size: 26px;
        font-style: italic;
        text-transform: uppercase;
      }
    }

    .links_part {
      font-size: 16px;

      .avatar_part {
        span {
          cursor: pointer;
        }

        .avatar_span {
          width: 50px;
          height: 50px;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      .language_part {
        cursor: pointer;
        text-transform: capitalize;
        padding: 0 20px;
        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }

      .settings_part {
        cursor: pointer;
      }
    }
  }
}

::ng-deep .mat-menu-panel {
  min-width: auto !important;
  min-height: auto !important;

  .mat-menu-content:not(:empty) {
    padding: 0 !important;

    .language_list_div {
      padding: 7px;
      cursor: pointer;

      img {
        width: 25px;
        margin-right: 10px;
      }

      .lang_text {
        font-size: 1.2rem;
        text-transform: uppercase;
      }
    }

    .settings_logout {
      padding: 7px;
      font-size: 1.2rem;
      text-transform: capitalize;
      cursor: pointer;
    }
  }
}
